@font-face {
  font-family: "titleBold";
  src: url("../public/Unbounded.ttf");
  font-weight: bold;
}

* {
  // cursor: none;
  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

canvas {
  touch-action: none;
  width: 100vw;
  height: 100vh;
}

.section-3d {
  font-family: "titleBold";
  position: absolute;
  top: 180vh;
  left: 10vw;
  width: auto;
  font-size: 5rem;
  color: whitesmoke;
}

a:hover {
  z-index: 1001;
  transform: scale(1.05);
}

.test {
  position: sticky;
  top: 0;
  margin-top: 15rem;
  color: white;
  font-size: 5rem;
}